<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

		This is the index.ejs view

		this should send something to the client




		<script src="/javascripts/app.js"></script>
</body>
</html>