<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

		<h1>NEW PET PAGE!</h1>
		<form action="/pets/create" method="POST">
			Name: <input type="text" name="name">
			Breed:<input type="text" name="breed">
			Age: <input type="text" name="age">
			Hairtype:<input type="text" name="hairtype">
			<button type="submit">Submit</button>

		</form>


		<script src="/javascripts/app.js"></script>
</body>
</html>