<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

		<h1>NEW PET PAGE!</h1>
		<form action="/pets/create" method="POST">
			Name: <input type="text" name="name">
			Breed:<input type="text" name="breed">
			Age: <input type="text" name="age">
			Longhair:<input type="checkbox" name="longhair">
			<button type="submit">Submit</button>

		</form>



</body>
</html>